@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal; }





@import "sass_modules/1_header";
@import "sass_modules/2_ability";
@import "sass_modules/3_about_us";
@import "sass_modules/4_our_works";


