
.main_container_our_staff{
  width: 100%;
  height: 700px;
  margin-top: 100px;
  background-image: url(../img/staff_bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media screen and (max-width: 1440px){
    height: 600px;
  }
  @media screen and (max-width: 1024px){
    height: 550px;
  }
  @media screen and (max-width: 769px){
    height: 450px;
  }
  @media screen and (max-width: 426px){
    height: 300px;
    padding-top: 30px!important;
  }
}



.container_AboutUs{
  box-sizing: border-box;
  width: 100%;
  height: 93%;
  //border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;

  .stuff:nth-child(2){
    //background-image: url(../img/worker.png);
    -webkit-background-size: 85%;
    background-size: 85%;
  }

  .stuff{
    width: 30%;
    height: 93%;
    //border: 1px solid black;
    //background-image: url(../img/worker.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    //border: 3px solid rgba(59, 103, 133, 0.5);
    text-align: justify;
    //border-bottom: none;
    //padding: 10px;
    box-sizing: border-box;


    @media screen and (max-width: 1440px){
      height: 90%;
    }
    @media screen and (max-width: 768px){
      width: 30%;
    }
    @media screen and (max-width: 425px){
      width: 30%;
    }

    .sdt{
      font-size: 21pt!important;
      margin-top: -30px;
      @media screen and (max-width: 426px){
        font-size: 20px!important;
        margin-top: -20px;
      }
    }
    p{
      position: relative;
      text-align: center;
      font-family: 'Oswald';
      font-size: 35pt;
      color: #393939;

      @media screen and (max-width: 1024px){
        margin-top: 5px;
        font-size: 25pt;
      }
      @media screen and (max-width: 426px){
        font-size: 20px!important;
      }
    }
    &:hover>p{
      opacity: 0;
    }
    &:hover>.stuff_desck{
      opacity: 1;
    }

    .stuff_desck{
      box-sizing: border-box;
      position: absolute !important;
      background: rgba(59, 103, 133, 0.95);
      height: 100%;
      width: 98%;
      opacity: 0;
      transition: 0.5s;
      padding: 30px;
      padding-top: 0;
      //box-sizing: border-box;
      
      @media screen and (max-width: 426px){
        padding: 10px;
      }

      p{
        position: relative;
        color: white;
      }
      .sdtn{
        font-size: 21px;
        text-align: left;
        
        @media screen and (max-width: 1024px){
          font-size: 18px;
        }
        @media screen and (max-width: 769px){
          font-size: 13px;
        }
        @media screen and (max-width: 426px){
          font-size: 8px!important;
        }
      }
    }
  }

  .den {
    text-align: right !important;

  }
  //@media screen and (max-width:1440px) {
  //  height: 500px;
  //}
  //@media screen and (max-width:768px) {
  //  display: none
  //}

}

.title_staff{
  margin-top: 0;
  margin-bottom: 0 !important;
  text-align: center;
  font-family: 'Montserrat-Medium';
  font-size: 30pt;
  color: #393939;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;


  //@media screen and (max-width:1440px) {
  //  margin-top: 75px;
  //}
  //@media screen and (max-width:769px) {
  //  margin-bottom: 35px !important;
  //}
  @media screen and (max-width:426px) {
    font-size: 25pt;
  }
}

//.blocks_about_us{
//  box-sizing: border-box;
//  width: 23%;
//  height: 80%;
//  //border: 1px solid black;
//  position: relative;
//  background-image: url(../img/coffee-3.png);
//  background-size: cover;
//}
//
//.blocks_about_us_description{
//  box-sizing: border-box;
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  height: 40%;
//  padding: 10px;
//  //border: 1px solid black;
//  font-family: 'Montserrat-Medium';
//  box-shadow: -4px -12px 25px 18px rgba(255, 255, 255, 0.5);
//  background: rgba(255, 255, 255, 0.5);
//  font-family: 'Oswald';
//  font-size: 21pt;
//
//  //filter: blur(3px)
//}
//
//
//
////MOBILE
//
//.container_AboutUs_mobile{
//  display: none;
//  box-sizing: border-box;
//  border: 1px solid black;
//  flex-direction: column;
//  justify-content: space-evenly;
//  align-items: center;
//  font-family: 'Montserrat-Medium';
//
//  @media screen and (max-width:768px) {
//    display: flex;
//    height: 900px;
//  }
//}
//
//.blocks_about_us_mobile{
//  width: 100%;
//  height: 23%;
//  border: 1px solid black;
//  box-sizing: border-box;
//  background-image: url(../img/coffee-3.png);
//  -webkit-background-size: cover;
//  background-size: cover;
//  background-position: center;
//
//  @media screen and (max-width:768px) {
//    width: 90%;
//  }
//}
//
//.blocks_about_us_description_mobile{
//  width: 40%;
//  height: 100%;
//  background: rgba(0,0,0,0.3);
//  float: left;
//}
//

.stuff_descrip{
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  font-size: 21pt;
  font-family: 'Montserrat-Medium';
  letter-spacing: 1px;
  font-size: 19pt;

  @media screen and (max-width: 1441px){
    font-size: 14pt;
  }
  @media screen and (max-width: 1025px){
    font-size: 11pt;
  }
  @media screen and (max-width: 769px){
    font-size: 9pt!important;
  }
  @media screen and (max-width: 426px){
    font-size: 4pt!important;
  }

}