.title_main_address{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.address_text{
  background: rgba(255,255,255,0.8);
  font-family: 'Oswald';
  font-size: 30pt;
  color: #202c2d;
  box-shadow: -1px 3px 33px 22px rgba(255,255,255, 0.9);
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;

  @media screen and (max-width: 425px){
    font-size: 25px;
  }
}

.wrap_footer{
  padding-top: 50px;
  width: 100%;
  //border: 1px solid black;
  margin-top: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../img/address_fon.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

}

.footer_block{
  height: 1700px;
  width: 100%;
  //height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: center;

  @media screen and (max-width: 1440px){
    height: 1450px;
  }
  @media screen and (max-width: 1024px){
    height: 1000px;
  }
  @media screen and (max-width: 769px){
    height: 800px;
  }
  @media screen and (max-width: 426px){
    height: 400px;
  }
}

.footer_block_address{
  width: 95%;
  height: 27%;
  //border: 1px solid black;
  justify-content: space-between;
  display: flex;
  flex-direction: row;

  .address_blocks{
    color: gray;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Oswald';
    width: 25%;
    height: 100%;
    //border: 1px solid black;
    box-shadow: -1px 3px 33px 22px gray inset;
    padding: 25px;

    @media screen and (max-width: 1024px){
      font-size: 11px;
    }
    @media screen and (max-width: 769px){
      font-size: 8px;
    }
    @media screen and (max-width: 426px){
      font-size: 8px;
      padding: 10px;
    }
  }
  .address_blocks_desc{
    width: 40%;
    background: rgba(255,255,255,0.9);
    box-shadow: 1px 21px 33px 22px rgba(0,0,0,0.8);

  }

}

.address_school{
  height: 35%;
  flex-wrap: wrap;

  .address_school_title{
    width: 100%;
    height: 15%;
    //border: 1px solid black;
  }

  .address_blocks{
    height: 70%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

}

.address_blocks{
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'Oswald';

  .h3{
    @media screen and (max-width: 426px){
      margin-top: 3px!important;
    }
  }

}
.address_blocks_img{
  background-image: url(../img/address.png);
}

.address_blocks_desc{
  overflow: scroll;
}

.address_blocks_img_school{
  background-image: url(../img/zpschool_2.png);
  background-position: right;
  box-shadow: 18px 21px 33px 22px rgba(0,0,0,0.8) !important;

}
.address_blocks_map_school{
  background-image: url(../img/zp_map.png);
  box-shadow: -19px 21px 33px 22px rgba(0,0,0,0.8) !important;

}
.address_blocks_map_dp{
  background-image: url(../img/dp_map.png);
  box-shadow: -19px 21px 33px 22px rgba(0,0,0,0.8) !important;


}

.address_blocks_img_dp{
  background-image: url(../img/dp_office.png);
  box-shadow: 18px 21px 33px 22px rgba(0,0,0,0.8) !important;

}
.address_blocks_img_zp{
  background-image: url(../img/zpoffice.png);
  background-position: 0 -50px!important;
  box-shadow: 18px 21px 33px 22px rgba(0,0,0,0.8) !important;

}
.address_blocks_map_zp{
  background-image: url(../img/zpschool.png);
  box-shadow: -19px 21px 33px 22px rgba(0,0,0,0.8) !important;

}
.address_school_title{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.address_desc_ins{
  @media screen and (max-width: 426px){
    margin-top: 0;
  }

}
.address_desc_ins_red, .address_desc_ins_green{
  color: red;
  font-family: 'Oswald-ExtraLight';
  font-size: 15pt;

  @media screen and (max-width: 1024px){
    font-size: 11pt;
  }
  @media screen and (max-width: 769px){
    font-size: 8pt;
  }
}
.address_desc_ins_green{
  color: green;
}

.address_desc_ins>a{
  text-decoration: none!important;
  color: #613a19;
}
.address_blocks_desc_new{
  color: #8a5325 !important;

  h2 {
    text-shadow: 4px 7px 3px rgba(206,89,55,0.39)
  }
}

.foot{
  position: relative;
  font-family: 'Oswald-ExtraLight';
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;

  .foot_title{
    position: relative;
    z-index: 100;
    margin: 0;
    background: rgba(0,0,0,0.7);
    color: #fff;
  }
}

.red{
  color: red;
}

.number{
  margin-left: 25px;
}